- if @ios_device
  #device
    #header
      %h1#title Enroll Device
    #content
      %ol.instructions
        %li Tap Start to begin process
        %li Press "Install" to allow access to device UDID
        %li If the app can be installed on your device, it will be installed
      %br
      .container{style:'padding:20px;font-size:24pt;text-align:center;font-family:helvetica'}
        %a.btn{href:"/enroll/mobileconfig"} Start
        
- else 
  %p{style:'color:black;text-align:center'} Please return to this page with your iOS device